$small: 390px;
$phone: 430px;
$tablet: 768px;
$fhd: 1080px;
$pc: 1920px;

// Globals
$foreground: #171717;
$background: #f4f2f0;
$border-radius: 10px;
// CTA Button
$ctaBg: #111;
$ctaColor: #f4f2f0;
$ctaPadding: 1em 2em;

//// Header
$navUnderline: #171717;
// Logo
$logoSize: 3em;
$logoSizeFooter: 6em;
//// Footer
// Copyright
$copyColor: #948b8b;
$foreLight: #444;
