@use "./../../../variables" as *;

.crypto-slider {
  width: 100%;
  overflow: hidden;
  background: $antiflashwhite;
  color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: $font-m;
  border: 1px solid $sv2;
  border-width: 1px 0;
  padding-bottom: 1px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    z-index: 10;
    pointer-events: none;
  }
  &::before {
    left: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0)
    );
  }
  &::after {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0)
    );
  }
}

.crypto-slider-track {
  display: flex;
  animation: scroll 69s linear infinite;
}

.crypto-coin {
  margin-right: 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  span {
    font-weight: 700;
  }
  p {
    font-size: $font-s;
  }

  .price-change {
    font-weight: 400;
    font-size: $font-xs;
    display: flex;
    align-items: center;

    &.positive {
      color: green;
    }

    &.negative {
      color: red;
    }
  }

  @media screen and (min-width: $small) {
    flex-wrap: unset;
    font-size: $font-m;
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;

    p {
      font-size: $font-m;
    }
    .price-change {
      font-size: $font-s;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-80%);
  }
}
