@use "./../../../vars" as *;
.footer-wrapper {
}
.footer-container {
  padding: 4em 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    padding: 2em;
  }
}

.footer-column {
  flex: 1;
  min-height: 150px;

  &:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  &:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  h2 {
    font-size: 2em;
    display: flex;
    align-items: flex-start;
    padding-top: 0.15em;
  }
  h3 {
    font-size: 1em;
    color: $copyColor;
  }
  .logo {
    width: $logoSizeFooter;
    height: $logoSizeFooter;
    margin-left: -0.65em;
    a {
      img {
        width: 100%;
      }
    }
  }
  ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    li {
      margin-bottom: 0.5em;
      width: max-content;
      &:first-child {
        color: $copyColor;
        margin-bottom: 1em;
        font-weight: 600;
      }
    }
  }
}

.footer-copyright {
  padding: 2em 0;
  min-width: 100%;
  font-size: 0.85em;
  color: $copyColor;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
